<!-- Composant formulaire, premier TP d'angular, partie HTML -->
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <!-- Le formulaire sera lié en action avec un bouton submit qui enclenchera la fonction onFormSubmit en lui envoyant les informations remplies par l'utilisateur -->
            <form #userForm="ngForm" (ngSubmit)="onFormSubmit(userForm)">
                <div class="form-group">
                    <label>Nom :</label>
                    <input type="text" ngModel name="Name" id="Name" class="form-control" required>
                </div>

                <div class="form-group">
                    <label>Prénom :</label>
                    <input type="text" ngModel name="Prenom" id="Prenom" class="form-control" required>
                </div>

                <div class="form-group">
                    <label>Adresse :</label>
                    <input type="text" ngModel name="Adresse" id="Adresse" class="form-control" required>
                </div>

                <div class="form-group">
                    <label>Code Postal :</label>
                    <input type="text" ngModel name="Cp" id="Cp" class="form-control" required>
                </div>

                <!-- Mise en place d'un select pour proposer un choix sous menu déroulant -->
                <div class="form-group">
                    <label>Ville :</label>
                    <select ngModel name="Ville" class="form-control" required>
                        <option value="I">Illkirch</option>
                        <option value="E">Eckbolsheim</option>
                        <option value="S">Schiltigheim</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Tel :</label>
                    <input type="text" [(ngModel)]="Tel" name="Tel" id="Tel" class="form-control" required [appPhoneDirective]="verifyTel()">
                </div>

                <div class="form-group">
                    <label>Email :</label>
                    <input type="text" ngModel name="Email" id="Email" class="form-control" required>
                </div>

                <div class="form-group">
                    <label>Civilité :</label>
                    <input type="text" ngModel name="Civilite" id="Civilite" class="form-control" required>
                </div>

                <div class="form-group">
                    <label>Identifiant :</label>
                    <input type="text" ngModel name="Login" id="Login" class="form-control" required>
                </div>

                <div class="form-group">
                    <label>Mot de passe : (8 caractères minimum)</label>
                    <input type="password" ngModel name="Pwd" id="Pwd" class="form-control" required>
                </div>

                <div class="form-group">
                    <label>Confirmer mot de passe :</label>
                    <input type="password" ngModel name="ConfirmPass" id="ConfirmPass" class="form-control" required>
                </div>

                <!-- Menu déroulant select -->
                <div class="form-group">
                    <label>Pays :</label>
                    <select ngModel name="pays" class="form-control" required>
                        <option value="France">France</option>
                        <option value="Inde">Inde</option>
                        <option value="Etats-Unis">Etats-Unis</option>
                        <option value="Brésil">Brésil</option>
                    </select>
                </div>

                <div>
                    <br>
                    <button class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-danger" (click)="resetUserForm(userForm)">Reset</button>
                </div>
            </form>
            <!-- composant fils qui va récapituler toutes les données, envoie des informations à celui-ci, valeurs en OUTPUT -->
            <div>
                <app-data-recap [recapForm]="recap" [tel]="numeroTel" [pays]="valPays" [validSaisie]="validChangeVal"></app-data-recap>
            </div>
            <!-- Directive structurelle, afficher si besoin un message d'erreur dans le cas d'erreurs de saisies -->
            <div *ngIf="valid">{{ errorMessage }}</div>
        </div>
    </div>
</div>