    <h2>Catalogue de produits</h2>
    
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Author</th>
            <th>Product name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products | async">
            <td>{{ product.author }}</td>
            <td>{{ product.productName }}</td>
            <td>{{ product.description }}</td>
            <button type="button" class="btn btn-primary" (click)="ajoutPanier(product)">Panier</button>
            <button [routerLink]="['/cat/detail', product.id]" type="button" class="btn btn-primary">Detail</button>
        </tr>
        </tbody>
    </table>

<app-filter></app-filter>


